html
    head
        title tarkov Tamoznya
        link(rel="stylesheet", href="css/style.css")
    body
        .scale
            button.scale__button(id='scaleMax') + 
            button.scale__button(id='scaleMin') -
        .box-wrapper
            .box

        script(src="js/script.js")
    
            