html, body {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}
.marks {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid gold;
}

.box {
    &-wrapper {
        position: absolute;
        left: -1464px;
        top: -555px;
        width: max-content;
        height: max-content;
    }

    display: flex;
    width: max-content;
    height: max-content;



    &__section {
        display: flex;
        flex-direction: column;
    }

    &__item {
        position: relative;
    }
}

.h {
    border: 400px solid #e6e6d4;
    width: max-content;
    height: max-content;
}
.scale {
    position: fixed;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    z-index: 10;

    &__button {
        background-color: rgba(0, 0, 0, .3);
        margin: 8px 0;
        padding: 10px 14px;
        border: 2px  solid black;
        border-radius: 8px;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        font-weight: bold;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: rgba(0, 0, 0, .4);
        }

        &:active {
            background-color: rgba(0, 0, 0, .2);
        }
    }
}
.sv-icon {
    display: flex;
    align-items: center;

    .icon__pic {
        fill: currentColor;
    }

    &--size {
        &--8 {
            .icon__pic {
                width: 8px;
                height: 8px;
            }
        }
        &--12 {
            .icon__pic {
                width: 12px;
                height: 12px;
            }
        }

        &--16 {
            .icon__pic {
                width: 16px;
                height: 16px;
            }
        }

        &--20 {
            .icon__pic {
                width: 20px;
                height: 20px;
            }
        }

        &--24 {
            .icon__pic {
                width: 24px;
                height: 24px;
            }
        }

        &--32 {
            .icon__pic {
                width: 32px;
                height: 32px;
            }
        }

        &--48 {
            .icon__pic {
                width: 48px;
                height: 48px;
            }
        }
    }
}



